<h1><%= @area.rec_area_name %></h1>
<%= sanitize @area.rec_area_description %>

 

<% if @area.has_facility? %>
<h3>Facilities</h3>
  <ul>
    <% @area.facilities.each do |facility| %>
      <li><%= link_to facility.facility_name, facility_path(facility) %></li>
    <% end  %>
  </ul>
<% end %>

<br>
<br>

<% if @area.has_keywords?%>
  <h3>Activities in the area include: </h3>
  <ul>
    <% words = @area.keywords.split(",") %>
    <% words.each do |word| %>
    <li><%= word %></li>
    <% end %>
  </ul>
<% else %>
<% end %>

<h3>Directions: </h3>
<p><%= sanitize @area.rec_area_directions%></p>



<div class="container">
    <div class="map" align="center">
      <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/view?key=<%=ENV['API_KEY']%>&center=<%=@area.rec_area_latitude%>,<%=@area.rec_area_longitude%>&zoom=16"%> allowfullscreen>
      </iframe>
    </div>
  </div>
  
  