<div align="center">
  <h1>Happy Campers</h1>
</div>

<h2 class="text-center">What's trending...</h2>
<div class = trending>
<div class="alert alert-info" align="center">
  <div class="most_commented">
    <h6>The most reviewed recreation facility is:</h6>
    <%= link_to Facility.most_comments.facility_name, facility_path(Facility.most_comments)%>
  </div>
</div>
<div class="alert alert-info" align="center">
  <div class="highest_rating">
    <h6>The highest rated recreation facility is:</h6>
    <%= link_to Facility.highest_rated.facility_name.titleize, facility_path(Facility.highest_rated)%>
  </div>
</div>
<div class="alert alert-info" align="center">
  <div class="active_user">
    <h6>The most active user is:</h6>
    <%= link_to User.most_comments.full_name, user_path(User.most_comments)%>
  </div>
</div>
</div>

  <br>
  <h1 class="display-4" align='center'>Status Updates </h1><br>

  <div class="alert alert-info" align="center">
      <div class="active_user">
        <%= link_to User.pluck(:username).last, user_path(User.pluck(:id).last)%>
        <h6>was recently active</h6>
      </div>
    </div>

  <div class='scrollbox'>
  <div data-spy="scroll">
      <% @users.each do |user| %>
      <% if user.has_status? %>
        <div class="card">
        <div class="card-header">
        <strong>@<%= link_to user.username, user_path(user) %></strong>
        </div>
        <div class="card-body">
        <h5 class="card-title"> Status: <%= user.status %>
        <h5 class="card-text">Location: <%= user.location %></h5>
        </div>
        </div>
        <br>
      <%end%>
      <%end%>
  </div>
  </div>
