<div align="center">
  <h1>Happy Campers</h1>
</div>

<h2 class="text-center">What's trending...</h2>
<div class = trending>
<div class="alert alert-info" align="center">
  <div class="most_commented">
    <h6>The most popular recreation facility is:</h6>
    <%= link_to Facility.most_comments.facility_name, facility_path(Facility.most_comments)%>
  </div>
</div>
<div class="alert alert-info" align="center">
  <div class="highest_rating">
    <h6>The highest rated recreation facility is:</h6>
    <%= link_to Facility.most_comments.facility_name, facility_path(Facility.most_comments)%>
  </div>
</div>
<div class="alert alert-info" align="center">
  <div class="active_user">
    <h6>The most active user is:</h6>
    <%= link_to User.most_comments.full_name, user_path(User.most_comments)%>
  </div>
</div>
<div class="alert alert-info" align="center">
  <div class="active_user">
    <h6>The most liked review is from:</h6>
    <%= link_to Comment.most_hearts.user.full_name.titleize, user_path(Comment.most_hearts.user)%>
  </div>
</div>
</div>

<div class="updates">
  <h3 align='center'>Status Updates!</h3>
</div>
<div class="alert alert-info" align="center">
  <div class="active_user">
    <%= link_to User.last.full_name.titleize, user_path(User.last)%>
    <h6>was recently active</h6>
  </div>
</div>
<div class="scrollbox">
<% @users.each do |user| %>
  <% if user.has_status? %>
    <ul>
      <div class="placeholder">@<%= link_to user.username, user_path(user) %></div>

      <div class="tab">
        Status: <%= user.status %>
        <br>
        Location: <%= user.location %>
      </div>
  <% end %>
    </ul>
<% end %>
  </div>
