<h3>Create User</h3>
  <div class="form">
    <%= bootstrap_form_for(@user, layout: :center, control_col: "col-xs-auto") do |f| %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name%>
    <%= f.text_field :email %>
    <%= f.text_field :username %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit %>
    <% end %>
  </div>
