<% if flash[:notice] %>
  <div class="alert alert-danger" align="center">
  <p>
    <%= flash[:notice] %>
  </p>
  </div>
<% end %>

<h3>Create User</h3>
  <div class="form">
    <%= bootstrap_form_for(@user, layout: :center, control_col: "col-xs-auto") do |f| %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name%>
    <%= f.text_field :email %>
    <%= f.text_field :username %>
    <%= f.text_area :bio %>
    <%= f.text_field :location %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit %>
    <% end %>
  </div>

  <div class="container-fluid">
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          <div class="form">
            <div id="sign-up" align="center">
              <a class="btn btn-info" <%= link_to "Home", home_path %></a>
            </div>
          </div>
          </div>
        <div class="col">
        </div>
      </div>
    </div>
