<div class="container" align="center">
  <%= image_tag('User_Circle.png') %>
  <h5>@<%= @user.username %></h5>
  <h1><%= @user.full_name %></h1>
  <h5>"<%= @user.status %>"</h5>
  <br>
  <h4>Location:</h4>
  <h5><%= @user.location %></h5>
  <br>
  <h4>About Me:</h4>
  <h5><%= @user.bio %></h5>
</div>

<br>
<div class="container" align="center">
  <h4>My Reviews</h4>
  <div class='scrollbox'>
  <% @user.comments.each do |comment| %>
    <p><%= comment.comment %></p>
  <%end%>
  </div>
</div>

<div align="center">
  <a class="homebutton" <%= link_to "Update Status", edit_user_path(@current_user) %></a>
</div>

<div align="center">
  <%= button_to "Delete Account", {:controller => :users,
      :action => 'destroy', :id => @current_user.id, :method => :delete}, {class: 'btn btn-danger'} %>
</div>
