<div class="container" align="center">
  <%= image_tag('User_Circle.png') %>
  <h5>@<%= @user.username %></h5>
  <h1><%= @user.full_name %></h1>
  <h5>"<%= @user.status %>"</h5>
  <br>
  <h4>Location:</h4>
  <h5><%= @user.location %></h5>
  <br>
  <h4>About Me:</h4>
  <h5><%= @user.bio %></h5>
</div>

<br>
<div class="container" align="center">
  <h4>My Reviews</h4>
  <div class='scrollbox'>
    <% if @user.comments.empty? %>
      <div class="first_review" align="Center">
        <h3><%= link_to "Share your experiences!", home_path %></h3>
      </div>
      <% else %>
        <% @user.comments.each do |comment| %>
          <div class='userfeed'>
           <strong> @<%=@user.username%></strong><br>
            <%= comment.rating%> ⭐ Review <br>
            Title: <%=comment.title%> <br>
            Review: <%=comment.comment%><br>
            <p></p>
      </div>
    <%end%> 
    <%end %>
    </div>
  </div>
