<div class= "facility_name" align="center">
  <h1><%= @facility.facility_name.titleize %>
      <% if @facility.has_comment? == false %>
  </h1> Average User Rating: <%=@facility.avg_rating%>/5
    <%end%>
</div>

<% if flash[:notice] %>
<div class="alert alert-info" align="center">
  <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
</div>
<% end %>

<div class="container">
  <div class="facility_description">
    <%= sanitize @facility.facility_description %>
  </div>
  <div class="campsites">
    <% if @facility.has_campsites? %>
    <h2>Camping</h2>
    <h5>This camping facility has <%= pluralize(@facility.campsite_count, 'campsite') %> for <%= 'overnight camping' if @facility.has_campsites? %></h5>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="map" align="center">
    <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/view?key=<%=ENV['API_KEY']%>&center=<%=@facility.facility_latitude%>,<%=@facility.facility_longitude%>&zoom=16"%> allowfullscreen>
    </iframe>
  </div>
</div>

<div class='container'>
<h4 align='center'>User Reviews</h4>
  <div class="scrollbox">
    <ul>
      <% if @facility.comments.empty? %>
      <div class="first_review" align="Center">
        <h3><%= link_to "Be the first to review!", new_comment_path(:facility => @facility.id) %></h3>
      </div>
      <% else %>
        <% @facility.comments.each do |comment| %>
        👤 @ <%= link_to comment.user.username, user_path(comment.user) %>
          <pre><ul>
          <strong>Title:</strong> <%= comment.title %>
          <strong>Review:</strong><%= comment.comment %>
          <strong>Rating:</strong> <%= comment.rating %>
          <strong>Likes:</strong> <%= comment.hearts.count %></pre>
          <div align="right">
            <%= button_to heart_path(comment_id: comment.id), remote: true, :class => 'fa fa-heart' do  %>
            <% end %>
          </div>
        </ul>
        <% end %>
  </div>
</div>

<div align="center">
  <a class="homebutton" <%= link_to "Leave a review!", new_comment_path(:facility => @facility.id) %></a>
</div>


<% end %>
