
  <h1><%= @facility.facility_name %></h1>
<div id = "success_message">
  <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
</div>
<br>
<%= sanitize @facility.facility_description %>

<% if @facility.campsites.empty? == false %>
  <h2>Campsites:</h2>
  <ul>
    <% @facility.campsites.each do |campsite| %>
    <li>Campsite: <%= campsite.campsite_name %> Type: <%= campsite.type_of_use %></li>
    <% end %>
  </ul>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @facility.facility_latitude %>,
      "lng": <%= @facility.facility_longitude %>,
      "picture": {
        "width":  32,
        "height": 32
      },
      "infowindow": "Recreation Facilities"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>

<div class="comments">
  <h5>Comments</h5>
  <ul>
    <% @facility.comments.each do |comment| %>
    <li>User:<%= comment.user.first_name %>: <%= comment.comment %></li>
    <% end %>
  </ul>

</div>
