
  <h1><%= @facility.facility_name %></h1>
<div id = "success_message">
  <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
</div>
<br>
<%= sanitize @facility.facility_description %>

<% if @facility.has_campsites? %>
  <h2>Camping</h2>
  <h5>This camping facility has <%= pluralize(@facility.campsite_count, 'campsite') %> for <%= 'overnight camping' if @facility.has_campsites? %></h5>
<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @facility.facility_latitude %>,
      "lng": <%= @facility.facility_longitude %>,
      "picture": {
        "width":  32,
        "height": 32
      },
      "infowindow": "Recreation Facilities"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>

<div class="comments">
  <h5>Visitor Comments: </h5>
  <ul>
    <% @facility.comments.each do |comment| %>
    <li>Username: <%= comment.user.username %>: 
    <li>Title: <%= comment.title %></li>
    <li>Comment: <%= comment.comment %></li>
    <li>Rating: <%= comment.rating %></li>
    <% end %>
  </ul>

</div>
