<div class= "facility_name" align="center">
  <h1><%= @facility.facility_name.titleize %>
      <% if @facility.has_comment? == false %>
      <br><br>
      </h1> <strong>Average User Rating: <%=@facility.stars(@facility.avg_rating)%></strong>
      <br><br>
    <%end%>
</div>

<% if flash[:notice] %>
<div class="alert alert-info" align="center">
  <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
</div>
<% end %>

<div class="container">
  <div class="facility_description">
    <%= sanitize @facility.facility_description %>
  </div>
  <div class="campsites">
    <% if @facility.has_campsites? %>
    <h2>Camping</h2>
    <h5>This camping facility has <%= pluralize(@facility.campsite_count, 'campsite') %> for <%= 'overnight camping' if @facility.has_campsites? %></h5>
    <% end %>
    <br>
  </div>
</div>

<div class="container">
  <div class="map" align="center">
    <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/view?key=<%=ENV['API_KEY']%>&center=<%=@facility.facility_latitude%>,<%=@facility.facility_longitude%>&zoom=16"%> allowfullscreen>
    </iframe>
  </div>
</div>


<h1 class="display-4" align='center'>Reviews </h1>
  <div class='scrollbox'>
  <div data-spy="scroll">
    <% if @facility.comments.empty? %>
      <div class="first_review" align="Center">
      <h3><%= link_to "Be the first to review!", new_comment_path(:facility => @facility.id) %></h3>
    </div>
    <% else %>
      <% @facility.comments.each do |comment| %>
      <div class="card">
        <div class="card-header">
            <h5>@<%= link_to comment.user.username, user_path(comment.user) %></h5>
           <div align="left">
            <%=button_to heart_path(comment_id: comment.id), remote: true, :class => 'fa fa-thumbs-up' do  %>
            <% end %>
      
            <%= pluralize(comment.hearts.count, 'Like')%>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title" align="center">"<%= comment.title %>"
            <br>
          <%= comment.user.stars(comment.rating)%>
          <p class="card-text" align="left"><%=comment.comment%></p>
        </div>
      </div>
      <br>
      <%end%>
    </div>
    <%end%>
  </div>
</div>



<% if @facility.comments.empty? == false %>
<div align="center">
  <a class="homebutton" <%= link_to "Leave a review!", new_comment_path(:facility => @facility.id) %></a>
</div>
<%end%>
